<!-- 
params: {
  path: string
  iconName: string
  text: string
}
-->

<a
  href="<%- path %>"
  class="flex items-center px-1 py-0.5 group"
  title="<%- text %>"
>
  <img src="/images/<%- iconName %>.svg" />
  <span class="font-barlow font-bold text-gray-400 group-hover:text-gray-200"
    ><%-text%></span
  >
</a>
