<!-- 
params: {
  userFolders: [{id: string, name: string}] -> name of folders
  sharedFolders: [{id: string, name: string}] -> name of folders
  selectedFolder: unique folderId
}
id is used for selecting correct folder
-->

<aside
  class="col-start-1 col-end-5 row-start-2 row-end-13 bg-gray-900 sm:col-end-4 md:col-end-3 flex flex-col gap-2 pl-2"
>
  <div class="">
    <%- include("./dashboard-link", {path: `/dashboard/`, text: `home`,
    iconName: `home`}) %>
    <!--  -->
    <%- include("./dashboard-link", {path: `/dashboard/create-folder`, text:
    `create folder`, iconName: `folder-create`}) %>
  </div>

  <div>
    <h3 class="font-barlow font-bold tracking-wider text-gray-400">folders</h3>
    <% userFolders.forEach((folder) => { %>
    <!--  -->
    <%- include("./dashboard-link", {path: `/dashboard/${folder.id}`, text:
    `${folder.name}`, iconName: `${folder.id === selectedFolder ? "folder-open"
    : "folder-close"}`}) %>
    <!--  -->
    <% }) %>
  </div>

  <div>
    <h3 class="font-barlow font-bold tracking-wider text-gray-400">
      shared folders
    </h3>
    <% sharedFolders.forEach((folder) => { %>
    <!--  -->
    <%- include("./dashboard-link", {path: `/dashboard/${folder.id}`, text:
    `${folder.name}`, iconName: `${folder.id === selectedFolder ? "folder-open"
    : "folder-close"}`}) %>
    <!--  -->
    <% }) %>
  </div>
</aside>
