<header
  class="bg-gray-900 flex flex-col items-center gap-2 sm:flex-row sm:items-center sm:justify-between px-4 py-2"
>
  <%- include("./logo",{ small: false}) %>
  <nav>
    <%- include("../partials/cta-link", {path: `/login`, text: `login`,
    inverted: false}) %>
    <!--  -->
    <%- include("../partials/cta-link", {path: `/signup`, text: `signup`,
    inverted: true}) %>
  </nav>
</header>
