<!-- 
params: {
  small: boolean is log small or normal
}
 -->

<div class="flex items-center gap-1">
  <img src="/images/logo.svg" alt="" srcset="" />
  <h2
    class="font-barlow font-bold text-gray-200 <%- small === true ? "text-sm" : "text-lg" %> tracking-wider uppercase"
  >
    file storage
  </h2>
</div>
